html {
  font-size: 62.5%;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-image: url("../Happy.png");
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
}
