html {
  font-size: 62.5%;
}

img {
  display: block;
  max-width: 100%;
  width: fit-content;
}

.image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  width: auto;
}
